.contenido-box {
  width: 45%;
  display: block;
  outline: 2px solid #b3b3b3;
  border-radius: 10px;
  margin: auto;
  padding: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .contenido-box {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .contenido-box {
    width: 70%;
  }
}

form {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.contenido-box p,
label {
  text-align: left;
  margin-left: 2%;
}

.contenido-box label {
  font-size: 1em;
}

.contenido-box input[type="password"] {
  font-size: 1em;
  margin-top: 2.5%;
}

.contenido-box input[type="submit"] {
  margin: 10px;
}

.contenido-box hr {
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10%;
}