.contenido-box {
  width: 40%;
  padding-block: 2%;
  margin: auto;
  display: block;
  outline: 2px solid #b3b3b3;
  border-radius: 20px;
}

.contenido-box p, label {
  text-align: left;
  margin-left: 2%;
}

.contenido-box input[type="submit"] {
  margin-top: 20px;
  margin-left: 10%;
}

.contenido-box label {
  font-size: 1em;
}

.contenido-box input[type="text"] {
  font-size: 1em;
  margin-top: 2.5%;
  width: 200px;
}

.contenido-box hr {
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10%;
}

@media screen and (max-width: 900px) {
  .contenido-box {
    padding: 15px;
    width: 90%;
    margin-top: 80px;
  }
}