.contenido-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
}

.Izquierda {
  width: 45%;
  margin-left: 5px;
  margin-right: 2.5px;
  margin-bottom: 5px;
  display: block;
}

.Izquierda img {
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  padding: 20px;
  border-radius: 8%;
}

.Derecha {
  width: 45%;
  display: block;
}

.Derecha .conten-info-user {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  outline: 2px solid #b3b3b3;
  border-radius: 20px;
  margin: 10px;
  margin-bottom: 20px;
}

.Derecha .conten-info-user img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.Derecha .conten-info-user p {
  padding: 10px;
  font-size: 1.2em;
  text-align: left;
}

.Derecha h1 {
  text-align: center;
  font-size: 3em;
}

@media screen and (max-width: 1360px) {

  .Derecha input[type="text"],
  input[type="password"] {
    width: 60%;
    margin-left: 20%;
  }
}

@media screen and (max-width: 1360px) {
  .Derecha input[id="Confirmar_contrasena"] {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 950px) {
  .Izquierda {
    display: none;
  }
}

@media screen and (max-width: 950px) {

  .Derecha input[type="text"],
  input[type="password"] {
    width: 60%;
    margin-left: 20%;
  }
}

@media screen and (max-width: 950px) {
  .Derecha input[id="Confirmar_contrasena"] {
    margin-bottom: 30px;
  }
}

.contenido-box hr {
  margin-left: 2%;
  margin-right: 2%;
  border: 1px solid #000000;
  border-radius: 10%;
}

@media screen and (max-width: 900px) {
  .contenido-box label {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .Derecha {
    width: 90%;
  }
}